@using Birk.Client.Bestilling.Components.Enums;
@using Birk.Client.Bestilling.Components.Reusable
@using Birk.Client.Bestilling.Utils.Constants;

<div>
    <GenericComponent GuiType=GuiType.Label Content=@($"{_contactLabel}{_starIcon}") />
    <GenericComponent GuiType=GuiType.Input Placeholder=@_contactPlaceholder MaxLength=200 />
</div>

@code {
    [Parameter]
    public ContactType ContactType { get; set; }

    private string _contactLabel => $"Kontakt{ContactType.ToString().ToLower()}Label";
    private string _contactPlaceholder => $"Kontakt{ContactType.ToString().ToLower()}";
    private string _starIcon => ContactType == ContactType.Person ? "|RedStarTopSize8" : "";
}
