@using Birk.Client.Bestilling.Components.Enums;
@using Birk.Client.Bestilling.Components.Reusable
@using Birk.Client.Bestilling.Utils.Constants;
@using Birk.Client.Bestilling.Utils.Helpers;

<div class="buf-row">
    <div>
        <GenericComponent GuiType=GuiType.Label Content=@($"{_contactLabel}{_starIcon}") />
        <GenericComponent GuiType=GuiType.Input Placeholder=@_contactPlaceholder />
    </div>
    <div>
        <GenericComponent GuiType=GuiType.Label Content=@($"TelefonLabel{_starIcon}") />
        <GenericComponent GuiType=GuiType.Input Placeholder="Telefon" />
    </div>
</div>

@code {
    [Parameter]
    public ContactType ContactType { get; set; }

    private string _contactLabel => $"Kontakt{ContactType.ToString().ToLower()}Label";
    private string _contactPlaceholder => $"Kontakt{ContactType.ToString().ToLower()}";
    private string _starIcon => ContactType == ContactType.Person ? "|RedStarTopSize8" : "";
}
