@using Birk.Client.Bestilling.Models.ViewModels;
@using Birk.Client.Bestilling.Utils.Constants;
@using Birk.Client.Bestilling.Utils.Helpers;

<div class="top-panel">
    <div class="top-row">
        <div>@Language.NO["BirkId"]@(Barn != null ? Barn.BirkId : "")</div>
        <div>@Language.NO["Kjønn"]@(Barn != null 
            ? StringHelper.ConvertGender(Barn.KjønnTypeFk) : "")</div>
    </div>
    <div class="top-row">
        <div>@Language.NO["Fødselsdato"]@(Barn != null 
            ? StringHelper.ConvertFødt(Barn.Født) : null)</div>
        <div>@Language.NO["Alder"]@(Barn != null ? Barn.Født.HasValue 
            ? StringHelper.CalculateAge(Barn.Født.Value) : "" : "")</div>
    </div>
</div>

@code {
    [Parameter]
    public BarnViewModel Barn { get; set; }
}
