.panel-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.panel-hide {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
