.question-paper {
    margin-top: 6rem;
    padding: 5rem 4rem 4rem 20rem;
    font-weight: 500;
}

    .question-paper .question {
        font-size: 3rem;
    }

    .question-paper .choice-description {
        padding-top: 2rem;
    }

    .question-paper .choice-title {
        padding-top: 4rem;
    }

    .question-paper .choice-dropdown {
    }
