.buf-page {
    /*Bakgrunn 1 i US #30594*/
    background: var(--buf-background-1);
    /*up right down left*/
    padding: 1.2rem 1.1rem 1.2rem 1.4rem;
    height: 100vh;
}

.info-panel {
    width: 100%;
    height: 6.4rem;
    display: flex;
    flex-direction: column;
    background: var(--buf-background-2);
    margin-bottom: 1.1rem;
}

.top-row {
    width: 100%;
    height: 6.4rem;
    display: flex;
    flex-direction: row;
    /*vertical*/
    align-items: center;
    /*horizontal*/
    justify-content: flex-end;
    background: var(--buf-background-2);
}

    .top-row > div {
        font-weight: 600;
        width: 25%;
    }

.main-panel {
    width: 100%;
    background: var(--buf-background-1);
    overflow: auto;
    height: calc(100% - 6.4rem);
}
    .main-panel .active {
        background: var(--buf-background-2);
        /*up right down left*/
        padding: 1.3rem 1.1rem 1.2rem 8rem;
    }

    .main-panel .active.minimized {
        padding-bottom: 5.3rem;
    }
    
    .main-panel .bullet-list {
        list-style-type: disc;
        padding-left: 1.3rem;
    }

    .main-panel .footer {
        height: 1.2rem;
        background: var(--buf-background-1);
    }