:root {
    /*Budir*/
    --buf-green: #00796B;
    /*Bakgrunn 1 i US #30594*/
    --buf-cream-grey: #EDEDED;
    --buf-background-1: var(--buf-cream-grey);
    /*Bakgrunn 2 i US #30594*/
    --buf-cream: #FFFCF3;
    --buf-background-2: var(--buf-cream);
    --buf-red: #EF7474;
    --buf-font-grey: #6C7072;
    /*Info*/
    --buf-info-grey: #ABADB3;
    /*background option*/
    --buf-pale-grey: #F2F2F2;
    --buf-background-over: var(--buf-cream);
}
