.logg-paper {
    margin-top: 6rem;
    box-shadow: none !important;
}

    .logg-paper .top {
        padding: 5rem 4rem 10rem 20rem;
    }

    .logg-paper .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 6rem 3rem 20rem;
        color: var(--font-grey);
    }

.henvisning-button-item {
    padding: 10rem 0rem 10rem 20rem;
}