.main-cards-paper {
    margin-top: 5rem;
    padding: 4rem 20rem;
    min-height: 80vh;
}

.main-cards-paper-title {
    padding-bottom: 3rem;
}

.main-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .main-card-item.filter {
        filter: invert(20%);
    }

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

.main-button-item {
    padding: 4rem 0 4rem 20rem;
}