@page "/"
@page "/bestilling"
@using Birk.Client.Bestilling.Components.Enums;
@using Birk.Client.Bestilling.Components.Panels
@using Birk.Client.Bestilling.Components.Reusable
@using Birk.Client.Bestilling.Models.Dtos;
@using Birk.Client.Bestilling.Services.Implementation;
@using Birk.Client.Bestilling.Services.Interfaces;
@using Birk.Client.Bestilling.Utils.Constants;
@using Birk.Client.Bestilling.Utils.Helpers;
@using System.Text.RegularExpressions;
@inject IKodeverkService KodeverkService
@inject IBarnService BarnService
@inject ILogger<Bestilling> Logger

@if (_isLoading)
{
    <div class="buf-page">

        <InfoPanel BarnOgPerson=@_barnOgPerson />

        <div class="main-panel">
            <div class="active @(_isHenvisningSelected ? "" : "minimized" )">
                <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["BestillingstypeTitle"] }) CssExtra="bestillingstype" />
                <DropdownComponent GuiType=@GuiType.Dropdown Items=BestillingsTypes OnSelectionChanged=@OnBestillingDropdownSelectionChanged />

                @if (_isHenvisningSelected)
                {
                    <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["KommuneTitle"] }) />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["VelgKommuneLabel"] + Language.NO["RedStarTopSize8"] }) />
                    <DropdownComponent GuiType=@GuiType.Dropdown Items=Kommunes OnSelectionChanged=@OnKommuneDropdownSelectionChanged />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["VelgBarnevernLabel"] + Language.NO["RedStarTopSize8"] }) />
                    <DropdownComponent GuiType=@GuiType.Dropdown Items=BarnOgPersoneverntjenestes @ref="_barnOgPersoneverntjenesteDropdown" />

                    @for (int i = 0; i < 2; i++)
                    {
                        <ContactRow ContactType=@(i == 0 ? ContactType.Person : ContactType.Leder) />
                    }

                    <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["HvemGjelderTitle"] }) />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["HvemGjelderLabel"] }) />

                    <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["SøkBarnTitle"] }) />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["SøkBarnLabel"] }) />

                    <SokBarn BarnOgPerson="_barnOgPerson" OnBarnUpdated="@HandleBarnUpdated" />
                }
            </div>
            <div class="footer" />
        </div>

    </div>
}

@code {
    // Public for tests
    public string[] BestillingsTypes { get; set; }
    public string[] Kommunes { get; set; }
    public string[] BarnOgPersoneverntjenestes { get; set; }

    private DropdownComponent _barnOgPersoneverntjenesteDropdown;

    private BarnOgPersonDto _barnOgPerson = new();

    private string _selectedBestilling = null;
    private string _selectedKommune = null;
    private string _selectedBernverntjeneste = null;

    private bool _isLoading;
    private bool _isHenvisningSelected;
    private bool _isKommunesAndBarneverntjenestesSet;

    protected async override Task OnInitializedAsync()
    {
        await InitializeDropdownsAsync();

        base.OnInitialized();
    }

    public async Task InitializeDropdownsAsync()
    {
        Logger.LogInformation("Entering {Method}", nameof(InitializeDropdownsAsync));

        BestillingsTypes = await KodeverkService.GetTypes();
        _isLoading = true;

        Logger.LogInformation("Exiting {Method}", nameof(InitializeDropdownsAsync));
    }

    private async Task OnBestillingDropdownSelectionChanged(string selectedBestilling)
    {
        _selectedBestilling = selectedBestilling;
        _isHenvisningSelected = BestillingsTypes.FirstOrDefault() == _selectedBestilling;

        if (_isHenvisningSelected)
        {
            if (!_isKommunesAndBarneverntjenestesSet)
            {
                await KodeverkService.GetKommunesAndBarneverntjenestes();
                _isKommunesAndBarneverntjenestesSet = true;
            }
            Kommunes = KodeverkService.GetKommunes();
            BarnOgPersoneverntjenestes = KodeverkService.GetBarneverntjenestesByKommunenavn("");
        }
        else
        {
            Kommunes = null;
            BarnOgPersoneverntjenestes = null;
        }

        StateHasChanged();
    }

    private async Task OnKommuneDropdownSelectionChanged(string selectedKommune)
    {
        _selectedKommune = selectedKommune;
        BarnOgPersoneverntjenestes = KodeverkService.GetBarneverntjenestesByKommunenavn(_selectedKommune);

        // Update the items in the Barneverntjeneste dropdown
        _barnOgPersoneverntjenesteDropdown.Items = BarnOgPersoneverntjenestes;
        // Displays automaticaly the only possible item or nothing if more than one
        _barnOgPersoneverntjenesteDropdown.SetSelected();

        StateHasChanged();
    }

    private void HandleBarnUpdated(BarnOgPersonDto barnOgPerson)
    {
        _barnOgPerson = barnOgPerson;
    } 

}