@page "/"
@page "/bestilling"
@using Birk.Client.Bestilling.Components.Enums;
@using Birk.Client.Bestilling.Components.Panels
@using Birk.Client.Bestilling.Components.Reusable
@using Birk.Client.Bestilling.Models.Dtos;
@using Birk.Client.Bestilling.Services.Implementation;
@using Birk.Client.Bestilling.Services.Interfaces;
@using Birk.Client.Bestilling.Utils.Constants;
@using Birk.Client.Bestilling.Utils.Helpers;
@using System.Text.RegularExpressions;
@inject IKodeverkService KodeverkService
@inject IBarnService BarnService
@inject ILogger<Bestilling> Logger

@if (_isLoading)
{
    <div class="buf-page">

        <InfoPanel BarnOgPerson=@_barnOgPerson />

        <div class="main-panel">
            <div class="active @(_isHenvisningSelected ? "" : "minimized" )">
                <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["BestillingstypeTitle"] }) CssExtra="bestillingstype" />
                <DropdownComponent GuiType=@GuiType.Dropdown Items=_bestillingTypes OnSelectionChanged=@OnBestillingDropdownSelectionChanged />

                @if (_isHenvisningSelected)
                {
                    <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["KommuneTitle"] }) />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["VelgKommuneLabel"] }) />
                    <DropdownComponent GuiType=@GuiType.Dropdown Items=_kommunes OnSelectionChanged=@OnKommuneDropdownSelectionChanged />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["VelgBarnevernLabel"] }) />
                    <DropdownComponent GuiType=@GuiType.Dropdown Items=_barnOgPersoneverntjenestes @ref="_barnOgPersoneverntjenesteDropdown" />

                    @for (int i = 0; i < 2; i++)
                    {
                        <ContactRow ContactType=@(i == 0 ? ContactType.Person : ContactType.Leder) />
                    }

                    <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["HvemGjelderTitle"] }) />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["HvemGjelderLabel"] }) />

                    <GenericComponent GuiType=@GuiType.Title Items=@(new[] { Language.NO["SøkBarnTitle"] }) />
                    <GenericComponent GuiType=@GuiType.Label Items=@(new[] { Language.NO["SøkBarnLabel"] }) />

                    <SokBarn BarnOgPerson="_barnOgPerson" OnBarnSearched="@HandleBarnSearched" />
                }
            </div>
            <div class="footer" />
        </div>

    </div>
}

@code {
    private DropdownComponent _barnOgPersoneverntjenesteDropdown;

    private BarnOgPersonDto _barnOgPerson = new();

    public string[] _bestillingTypes;
    public string[] _kommunes;
    public string[] _barnOgPersoneverntjenestes;

    private string _selectedBestilling = null;
    private string _selectedKommune = null;
    private string _selectedBernverntjeneste = null;

    private bool _isLoading;
    private bool _isHenvisningSelected;
    private bool _isKommunesAndBarneverntjenestesSet;

    protected async override Task OnInitializedAsync()
    {
        await InitializeDropdownsAsync();

        base.OnInitialized();
    }

    public async Task InitializeDropdownsAsync()
    {
        Logger.LogInformation("Entering {Method}", nameof(InitializeDropdownsAsync));

        _bestillingTypes = await KodeverkService.GetTypes();
        _isLoading = true;

        Logger.LogInformation("Exiting {Method}", nameof(InitializeDropdownsAsync));
    }

    private async Task OnBestillingDropdownSelectionChanged(string selectedBestilling)
    {
        _selectedBestilling = selectedBestilling;
        _isHenvisningSelected = _bestillingTypes.FirstOrDefault() == _selectedBestilling;

        if (_isHenvisningSelected)
        {
            if (!_isKommunesAndBarneverntjenestesSet)
            {
                await KodeverkService.GetKommunesAndBarneverntjenestes();
                _isKommunesAndBarneverntjenestesSet = true;
            }
            _kommunes = KodeverkService.GetKommunes();
            _barnOgPersoneverntjenestes = KodeverkService.GetBarneverntjenestesByKommunenavn("");

        }
        else
        {
            _kommunes = null;
            _barnOgPersoneverntjenestes = null;
        }

        StateHasChanged();
    }

    private async Task OnKommuneDropdownSelectionChanged(string selectedKommune)
    {
        _selectedKommune = selectedKommune;
        _barnOgPersoneverntjenestes = KodeverkService.GetBarneverntjenestesByKommunenavn(_selectedKommune);

        _barnOgPersoneverntjenesteDropdown.ResetSelection();

        StateHasChanged();
    }

    private void HandleBarnSearched(BarnOgPersonDto barnOgPerson)
    {
        _barnOgPerson = barnOgPerson;
    } 

}