@using Birk.Client.Bestilling.Components.Enums;
@using Birk.Client.Bestilling.Components.Reusable
@using Birk.Client.Bestilling.Utils.Constants;
@using Birk.Client.Bestilling.Utils.Helpers;

<div class="buf-row">
    <div>
        <GenericComponent GuiType=@GuiType.Label Items=@(new string[] { _contactLabel }) />
        <GenericComponent GuiType=@GuiType.Input Placeholder=@_contactPlaceholder />
    </div>
    <div>
        <GenericComponent GuiType=@GuiType.Label Items=@(new string[] { Language.NO["TelefonLabel"] }) />
        <GenericComponent GuiType=@GuiType.Input Placeholder=@(StringHelper.BuildPlaceholder(Language.NO["TelefonPlaceholder"])) />
    </div>
</div>

@code {
    [Parameter]
    public ContactType ContactType { get; set; }

    private string _contactLabel => Language.NO[$"Kontakt{ContactType.ToString().ToLower()}Label"];
    private string _contactPlaceholder => StringHelper.BuildPlaceholder(Language.NO[$"Kontakt{ContactType.ToString().ToLower()}Placeholder"]);

}
